@if (loading) {
<app-loading />
} @if (!loading) {
<app-navbar />
<div class="container">
  <!-- ini contenido modal -->
  <div class="text-center d-flex justify-content-center">
    <div>
      <button class="btn btn-dark m-1" (click)="naviga()">
        <i class="fa-solid fa-right-from-bracket"></i>
        Regresar
      </button>
    </div>
    <div>
      <button
        class="btn btn-success m-1"
        data-bs-toggle="modal"
        data-bs-target="#exampleModalLabel"
      >
        <i class="fa-solid fa-coins"></i>
        Agregar Prestamo
      </button>
    </div>
    <div>
      <button class="btn btn-primary m-1" (click)="updateClient()">
        <i class="fa-solid fa-pen"></i>
        Actualizar
      </button>
    </div>
    <div>
      <button class="btn btn-danger m-1" (click)="confirmDelete()">
        <i class="fa-solid fa-trash"></i>
        Eliminar
      </button>
    </div>
  </div>
  <div class="border p-3 mt-2">
    <form class="row g-3" [formGroup]="clienteForm">
      <div class="col-md-6">
        <label for="validationDefault01" class="form-label"
          ><strong>Nombre completo</strong></label
        >
        <input
          type="text"
          class="form-control"
          id="documento"
          formControlName="nombre"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="validationDefault02" class="form-label"
          ><strong>Documento</strong></label
        >
        <input
          type="text"
          class="form-control"
          id="cedula"
          formControlName="cedula"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="validationDefault02" class="form-label"
          ><strong>Celular</strong></label
        >
        <input
          type="text"
          class="form-control"
          id="celular"
          formControlName="celular"
          required
        />
      </div>
      <div class="col-md-6">
        <label for="validationDefault02" class="form-label"
          ><strong>Dirección</strong></label
        >
        <input
          type="text"
          class="form-control"
          id="direccion"
          formControlName="direccion"
          required
        />
      </div>
    </form>
  </div>
  <!-- fin contenido modal -->

  <!-- inicio prestamos -->
  <app-prestamos [prestamos]="prestamo"></app-prestamos>
</div>
}
